[submodule "securelemakin-dual/esp8266-cpp/src/TOTP-Arduino"]
	path = library/TOTP-Arduino
	url = git@github.com:lucadentella/TOTP-Arduino.git
[submodule "securelemakin-dual/esp8266-cpp/src/NTPClient"]
	path = library/NTPClient
	url = git@github.com:arduino-libraries/NTPClient.git
