#ifndef SECURELEMAKINDUAL_SECRET_H
#define SECURELEMAKINDUAL_SECRET_H

#include <Arduino.h>

class Secret{
    public:
    const char* wifissid = "samplewifi-ssaid";
    const char* wifipassword = "samplewifi-password";
    uint8_t encryption_password[6] = {
        's','a','m','p','l','e'
    };
};

#endif
